from http.server import BaseHTTPRequestHandler, HTTPServer
Handler = type('Handler', (BaseHTTPRequestHandler,), {'do_GET': lambda self: (self.send_response(200), self.send_header('Content-type', 'text/plain'), self.end_headers(), self.wfile.write(b'Hello from backend!'))})
HTTPServer(('0.0.0.0', {{ app_port }}), Handler).serve_forever()
